<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="ConnectionString" value="Data Source=ServerName;Initial Catalog=DatabaseName;Integrated Security=True" />
		<add key="LogLevel" value="Debug" />
		<add key="koko" value="Koko Value" />

	</appSettings>

	<connectionStrings>
		<add name="MyDbConnection" connectionString="Data Source=ServerName;Initial Catalog=DatabaseName;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>